{{>header}}
{{>nav}}
    <section>
        <div class="container my-5">
<h3 class="text-info">All Users</h3>
<div class="d-flex justify-content-between">
<a href="/add" class="btn btn-info">Add User</a>
<a href="/delAll" class="btn btn-danger">Delete All</a>

</div>

<table class="table table-dark table-striped">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {{#if  hasData}}
    {{#each allUsers}}
    <tr>
        <td>{{_id}}</td>
        <td>{{name}}</td>
        <td>{{age}}</td>
        <td>{{email}}</td>
        <td>
            <a href="/single/{{_id}}" class="btn btn-info">Show</a>
            <a href="/edit/{{_id}}" class="btn btn-warning">Edit</a>
            <a href="/del/{{_id}}" class="btn btn-danger">delete</a>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
          <td colspan="4">
            No Users Yet
          </td>
        </tr>
        {{/if}}
  </tbody>
</table>
        </div>
    </section>
    {{>footer}}
